/* Icons by FontAwesome: https://fontawesome.com/license */

body {pointer-events: none}
* {pointer-events: all;}

.draggable {
  -webkit-app-region: drag;
  app-region: drag;
}

div.icon {
  display: inline-block;
  margin-right: 6px;
}

div.icon svg {
  display: inline-block;
  height: 0.9rem;
}